# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/Minigin.pdb
x64/Debug/Minigin.ilk
x64/Debug/Minigin.exp
Minigin/x64/Debug/vc141.pdb
Minigin/x64/Debug/vc141.idb
Minigin/x64/Debug/movecomponent.obj.enc
Minigin/x64/Debug/inputcomponent.obj.enc
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/Minigin.write.1u.tlog
Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.Build.CppClean.log
.vs/Minigin/v15/.suo
.vs/Minigin/v15/Browse.VC.opendb
.vs/Minigin/v15/Browse.VC.db
.vs/Minigin/v15/ipch/AutoPCH/e16e2cf7ca203317/BINARYIO.ipch
.vs/Minigin/v15/ipch/AutoPCH/953c30a944bd5ac4/BINARYIO.ipch
.vs/Minigin/v15/ipch/9f6d5903738aa175.ipch
Minigin/x64/Release/vc141.pdb
Minigin/x64/Release/Minigin.tlog/unsuccessfulbuild
Minigin/x64/Release/Minigin.tlog/link.write.1.tlog
Minigin/x64/Release/Minigin.tlog/link.read.7.tlog
Minigin/x64/Release/Minigin.tlog/link.read.1.tlog
Minigin/x64/Release/Minigin.tlog/link.command.1.tlog
Minigin/x64/Release/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Release/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Release/Minigin.log
.vs/Minigin/v15/ipch/15bfcd5c00cd3055.ipch
