# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/Minigin.pdb
x64/Debug/Minigin.ilk
x64/Debug/Minigin.exp
Minigin/x64/Debug/vc141.pdb
Minigin/x64/Debug/vc141.idb
Minigin/x64/Debug/movecomponent.obj.enc
Minigin/x64/Debug/inputcomponent.obj.enc
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/Minigin.write.1u.tlog
Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.Build.CppClean.log
.vs/Minigin/v15/.suo
.vs/Minigin/v15/Browse.VC.opendb
.vs/Minigin/v15/Browse.VC.db
.vs/Minigin/v15/ipch/AutoPCH/e16e2cf7ca203317/BINARYIO.ipch
.vs/Minigin/v15/ipch/AutoPCH/953c30a944bd5ac4/BINARYIO.ipch
.vs/Minigin/v15/ipch/9f6d5903738aa175.ipch
Minigin/x64/Release/vc141.pdb
Minigin/x64/Release/Minigin.tlog/unsuccessfulbuild
Minigin/x64/Release/Minigin.tlog/link.write.1.tlog
Minigin/x64/Release/Minigin.tlog/link.read.7.tlog
Minigin/x64/Release/Minigin.tlog/link.read.1.tlog
Minigin/x64/Release/Minigin.tlog/link.command.1.tlog
Minigin/x64/Release/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Release/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Release/Minigin.log
.vs/Minigin/v15/ipch/15bfcd5c00cd3055.ipch
x64/Release/Minigin.pdb
x64/Release/Minigin.ipdb
x64/Release/Minigin.iobj
x64/Release/Minigin.exp
.vs/Minigin/v15/ipch/bbc022f6e5e76a97.ipch
.vs/Minigin/v15/ipch/441d55c466cea597.ipch
Minigin/x64/Debug/Minigin.tlog/unsuccessfulbuild
Minigin/x64/Release/Minigin.tlog/Minigin.write.1u.tlog
Minigin/x64/Debug/eventgencomponent.new.obj.enc
Minigin/x64/Debug/eventfactory.new.obj.enc
Minigin/x64/Debug/digcomponent.new.obj.enc
Minigin/x64/Debug/collisioncomponent.obj.enc
.vs/Minigin/v15/ipch/AutoPCH/a81bcd96bac81bef/ENV_MODE.ipch
Minigin/x64/Debug/texturecomponent.new.obj.enc
Minigin/x64/Debug/textcomponent.new.obj.enc
Minigin/x64/Debug/statecomponent.new.obj.enc
Minigin/x64/Debug/sceneloader.new.obj.enc
Minigin/x64/Debug/scene.new.obj.enc
Minigin/x64/Debug/positioncomponent.obj.enc
Minigin/x64/Debug/playerstates.new.obj.enc
Minigin/x64/Debug/physicsmanager.obj.enc
Minigin/x64/Debug/orientationcomponent.new.obj.enc
Minigin/x64/Debug/minigin.new.obj.enc
Minigin/x64/Debug/inputcomponent.new.obj.enc
Minigin/x64/Debug/gameobject.new.obj.enc
Minigin/x64/Debug/fpscomponent.new.obj.enc
Minigin/x64/Debug/texturemanager.obj.enc
Minigin/x64/Debug/sceneloader.obj.enc
Minigin/x64/Debug/gameobject.obj.enc
Minigin/x64/Debug/animationcomponent.obj.enc
Minigin/x64/Debug/playerstates.obj.enc
Minigin/x64/Debug/eventfactory.obj.enc
x64/Debug/Minigin.exe.lastcodeanalysissucceeded
Minigin/x64/Debug/vc.nativecodeanalysis.all.xml
Minigin/x64/Debug/transform.nativecodeanalysis.xml
Minigin/x64/Debug/miniginpch.nativecodeanalysis.xml
Minigin/x64/Debug/minigin.nativecodeanalysis.xml
Minigin/x64/Debug/maptile.nativecodeanalysis.xml
Minigin/x64/Debug/mapmanager.nativecodeanalysis.xml
Minigin/x64/Debug/main.nativecodeanalysis.xml
Minigin/x64/Debug/log.nativecodeanalysis.xml
Minigin/x64/Debug/inputmanager.nativecodeanalysis.xml
Minigin/x64/Debug/inputcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/hpuicomponent.new.obj.enc
Minigin/x64/Debug/hpuicomponent.nativecodeanalysis.xml
Minigin/x64/Debug/hpcomponent.new.obj.enc
Minigin/x64/Debug/hpcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/hosecomponent.new.obj.enc
Minigin/x64/Debug/hosecomponent.nativecodeanalysis.xml
Minigin/x64/Debug/gameobject.nativecodeanalysis.xml
Minigin/x64/Debug/fpscomponent.nativecodeanalysis.xml
Minigin/x64/Debug/font.nativecodeanalysis.xml
Minigin/x64/Debug/eventgencomponent.obj.enc
Minigin/x64/Debug/eventgencomponent.nativecodeanalysis.xml
Minigin/x64/Debug/eventfactory.nativecodeanalysis.xml
Minigin/x64/Debug/digcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/deathcomponent.new.obj.enc
Minigin/x64/Debug/deathcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/collisioncomponent.new.obj.enc
Minigin/x64/Debug/collisioncomponent.nativecodeanalysis.xml
Minigin/x64/Debug/basecomponent.nativecodeanalysis.xml
Minigin/x64/Debug/animationcomponent.new.obj.enc
Minigin/x64/Debug/animationcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/NativeCodeAnalysis.read.1.tlog
Minigin/x64/Debug/Minigin.pch.codeanalysisast
Minigin/x64/Debug/Minigin.pch.codeanalysis
Minigin/x64/Debug/texturemanager.nativecodeanalysis.xml
Minigin/x64/Debug/texturecomponent.nativecodeanalysis.xml
Minigin/x64/Debug/texture2d.nativecodeanalysis.xml
Minigin/x64/Debug/textobject.nativecodeanalysis.xml
Minigin/x64/Debug/textcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/statecomponent.nativecodeanalysis.xml
Minigin/x64/Debug/shootcomponent.new.obj.enc
Minigin/x64/Debug/shootcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/servicelocator.nativecodeanalysis.xml
Minigin/x64/Debug/scenemanager.nativecodeanalysis.xml
Minigin/x64/Debug/sceneloader.nativecodeanalysis.xml
Minigin/x64/Debug/scene.nativecodeanalysis.xml
Minigin/x64/Debug/resourcemanager.nativecodeanalysis.xml
Minigin/x64/Debug/renderer.nativecodeanalysis.xml
Minigin/x64/Debug/positioncomponent.nativecodeanalysis.xml
Minigin/x64/Debug/playerstates.nativecodeanalysis.xml
Minigin/x64/Debug/physicsmanager.nativecodeanalysis.xml
Minigin/x64/Debug/physicscomponent.new.obj.enc
Minigin/x64/Debug/physicscomponent.nativecodeanalysis.xml
Minigin/x64/Debug/orientationcomponent.nativecodeanalysis.xml
Minigin/x64/Debug/movecomponent.new.obj.enc
Minigin/x64/Debug/movecomponent.nativecodeanalysis.xml
Minigincppcheck.cppcheck
Minigin/x64/Debug/renderer.new.obj.enc
Minigin/x64/Debug/Minigin.tlog/link.11780-rc.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.11780-rc.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.11780-cvtres.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.11780-cvtres.read.1.tlog
Minigin/x64/Debug/commandcomponent.obj.enc
Minigin/x64/Debug/aistates.obj.enc
Minigin/x64/Debug/aimanager.obj.enc
Minigin/x64/Debug/aicomponent.obj.enc
